@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-shades: #0a1128;
  --dark-accent: #14213d;
  --main-brand: #034078;
  /* --light-accent: #67B6EF; */
  --light-accent: #5ea7db;
  --light-shades: #fefcfb;
  --gradient-dark: linear-gradient(45deg, var(--dark-accent), var(--dark-shades), var(--dark-accent), var(--dark-shades));
  --gradient-bg: linear-gradient(45deg, var(--light-accent), var(--main-brand), var(--light-accent));
  --gradient: -webkit-linear-gradient(30deg, var(--light-accent), var(--light-shades), var(--light-accent));
  --gradient-light: -webkit-linear-gradient(30deg, var(--light-shades), var(--light-accent), var(--light-shades));
  --body: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body) !important;
  color: var(--light-shades);
}

/* To ensure that the entire page is covered and there are no margins or padding around it. */
html,
body {
  background: var(--dark-shades) !important;
  height: 100% !important;
  margin: 0 !important;
}

/* Ensures that the main content takes up at least the full height of the page. */
main {
  min-height: calc(100%-5em) !important;
  /* 5em is the height of the footer */
  margin-bottom: 10rem;
}

/* This ensures that the footer always stays at the bottom of the page, regardless of the height of the main content. */
footer {
  height: 5em !important;
}

a {
  text-decoration: none !important;
}

textarea {
  resize: none !important;
  white-space: pre-wrap !important;
  /* Any line breaks or multiple spaces that were entered in the textarea will be preserved and displayed */
}

.bordered-text {
  color: var(--light-shades) !important;
  /* Make text color transparent */
  text-shadow: 0px 7px 8px var(--main-brand);
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-19 {
  font-size: 19px;
}

.fs-18 {
  font-size: 18px;
}

.fs-15 {
  font-size: 15px;
}

.text-justify {
  text-align: justify;
}

.border-none {
  border: none;
}

.radius-20 {
  border-radius: 20px;
}

.w-80 {
  width: 80% !important;
}

.slide-right {
  -webkit-animation: slide-right 0.5s ease-in both;
  animation: slide-right 0.5s ease-in both;
}

.slide-right-2 {
  -webkit-animation: slide-right 0.5s ease-in 0.1s both;
  animation: slide-right 0.5s ease-in 0.1s both;
}

.slide-right-3 {
  -webkit-animation: slide-right 0.5s ease-in 0.2s both;
  animation: slide-right 0.5s ease-in 0.2s both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s ease-in both;
  animation: slide-bottom 0.5s ease-in both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-210px);
    transform: translateY(-210px);
  }

  100% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-210px);
    transform: translateY(-210px);
  }

  100% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.5s ease-out both;
  animation: tracking-in-expand 0.5s ease-out both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}



.glassmorphism {
  background: rgba(20, 33, 61, 0.15) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(0px) !important;
  -webkit-backdrop-filter: blur(0px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.white-img {
  filter: brightness(0) invert(1);
}

/* Colors */
.dark-shades {
  color: var(--dark-shades) !important;
}

.dark-accent {
  color: var(--dark-accent) !important;
}

.main-brand {
  color: var(--main-brand) !important;
}

.light-accent {
  color: var(--light-accent) !important;
}

.light-accent-hv:hover {
  color: var(--light-accent) !important;
}

.light-shades {
  color: var(--light-shades) !important;
}

#apply-btn {
  background: var(--gradient-bg);
  border: none;
}

#apply-btn:hover {
  background: rgba(20, 33, 61, 0.15) !important;
  box-shadow: 0 5px 25px 0 rgba(31, 38, 135, 0.438) !important;
}

.remove-bg {
  background: none !important;
}

/* Contact Button Style */
#contact-btn {
  background: rgba(20, 33, 61, 0.15) !important;
  box-shadow: 0 5px 25px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(0px) !important;
  -webkit-backdrop-filter: blur(0px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  /* background-image: var(--gradient-dark) !important;
  box-shadow: 0 12px 30px 2px rgba( 31, 38, 135, 0.37 ) !important; */
  border-radius: 40px !important;
  box-sizing: border-box !important;
  color: #fff !important;
  padding: 4px !important;
  text-decoration: none !important;
  width: fit-content !important;
}

#contact-btn:hover {
  background-image: linear-gradient(to right, #0a1128 0%, #14213d 100%) !important;
  box-shadow: 0 10px 34px 0 rgba(31, 38, 135, 0.37) !important;
  color: #fff !important;
  border: none !important;
}

#contact-btn .contact-btn-span {
  align-items: center !important;
  /* background: var(--gradient-dark) !important; */
  border-radius: 40px !important;
  display: flex !important;
  justify-content: center !important;
  height: 100% !important;
  transition: background 0.5s ease !important;
  width: 100% !important;
}

#contact-btn .contact-btn-span .btn-icon {
  visibility: hidden !important;
}

#contact-btn:hover .contact-btn-span {
  background: transparent !important;
}

#contact-btn:hover .contact-btn-span .btn-icon {
  visibility: visible !important;
}
